<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Authentication Error.</h1>
        <h2>Please Authenticate your credentials</h2>
    </hgroup>
    <div>@Html.ActionLink("click here","Index","Login")</div>
</body>
</html>
